{% extends 'GallaryApp/base.html' %}
{% load static %}
{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
{% endblock title %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <!-- left section -->
        <div class="col-3">
            <!-- category list model -->
            <div class="container">

                <ul class="list-group">

                    <li class="list-group-item"><a href="{% url 'gallery' %}" class="text-decoration-none">All Images</a></li>
                    {% for cat in categories %}
                    <li class="list-group-item"><a href="{% url 'catImage' cat.id %}" class="text-decoration-none">{{cat.title}}</a></li>

                    {% endfor %}
                </ul>
            </div>

        </div>
        <!-- right section -->
        <div class="col-9">
            <!-- image model -->
            <div class="container">
                <div class="row">

                    {% for img in Images %}
                    <div class="col-3 mb-3">
                        <div class="card" style="width: 12rem;">
                            <img src="{{img.image.url}}" class="card-img-top" alt="No image" height="150px">
                            <div class="card-body">
                              <p class="card-title">{{img.title}}</p>
                              
                            </div>
                          </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock body %}